//text
$textColor: #313037;
$hintColor: #a8a8a8;

//button
$backgroundBtnColor: #313037;
$btnTextColor: #FFF;

//line
$colorLine: #E7E7E7;

//background
$backgroundSubscribe: #f4eefd;
$backgroundImageBook: #d7e4fd;